.carousel {
    border-radius: 20px; /* Bordi rotondi */
}

.small-carousel {
    margin: 0 auto; /* Centro il carousel */
    max-width: 400px; /* Dimensioni massime del carousel */
}

.large-carousel {
    margin: 0 auto; /* Centro il carousel */
    max-width: 800px; /* Dimensioni massime del carousel */
}
