<div style="background-color: black">
    <div class="outer flex-container">
        <div>
            <h1>Fitness</h1>
            <p style="margin-top: -12px">
                Questa pagina è coperta da copyright ©
            </p>
            <p style="margin-top: 60px">Altre info nei nostri social</p>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>

        <div class="contact">
            <h1>Contatti</h1>
            <div class="flex-container">
                <i class="fa fa-map-marker icon" style="font-size: 24px"></i>
                <p>Via della palestra,18</p>
            </div>
            <div class="flex-container">
                <i class="fa fa-phone icon" style="font-size: 24px"></i>
                <p>+39 - 1234567890</p>
            </div>
            <div class="flex-container">
                <i class="fa fa-envelope icon" style="font-size: 24px"></i>
                <p>info.peppegym@gmail.com</p>
            </div>
        </div>

        <div>
            <h1>Vieni a Trovarci</h1>
            <iframe width="100%" height="60%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=stadio%20maradona%20napoli+(Palestra%20Bella)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
        </div>
    </div>
</div>